.header__land-link {
  display: block;
  margin-left: 18px;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.17;
  font-weight: normal;
}

.header__land-link:first-of-type {
  margin-left: auto;
}

.header__land-link:hover {
  opacity: .2;
}

.header__land-link:visited {
   color: #ffffff;
}

@media screen and (max-width: 767px) {
  .header__land-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
